<h2>
  <%= link_to propiedad.precio, propiedades_path %>
</h2>
<div class="info">
  Arrendador <%= propiedad.arrendador %>
  Direccion <%= propiedad.direccion %>
</div>
<div class="content"><%= propiedad.descripcion %></div>