<h2>
  <a href="propiedades/"<%= propiedad.id %>> Lista de propiedades</a>
</h2>
<div class="info">
  Arrendador <%= propiedad.arrendador %>
  Direccion <%= propiedad.direccion %>
</div>
<div class="content"><%= propiedad.descripcion %></div>