<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

<h1>Editar comentario de la propiedad</h1>

<%= render 'form', p_comment: @p_comment %>

<%= link_to 'Ver comentario', @p_comment %> |
<%= link_to 'Regresar', p_comments_path %>

 </div>
                </div>
            </div>
        </div>
    </header>
