<p id="notice"><%= notice %></p>

<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

<h1>Comentarios de la propiedad</h1>

<table align="center">
  <thead>
    <tr>
      <th colspan="3" ><h3>Comentarios:</h3></th>
    </tr>
  </thead>

  <tbody>
    <% @p_comments.each do |p_comment| %>
      <tr>
        <td align="center" valign="middle"><%= p_comment.content %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

	 </div>
                </div>
            </div>
        </div>
    </header>

<br>
<br>

<center><h3><%= link_to 'Nuevo comentario', new_p_comment_path %></h3></center>
