<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

<h1>Nuevo comentario sobre la propiedad</h1>

<%= render 'form', p_comment: @p_comment %>

<h3><%= link_to 'Regresar', p_comments_path %></h3>

 </div>
                </div>
            </div>
        </div>
    </header>	
