<h2>
  $<%=propiedad.precio%>
</h2>
<div class="info">
  Arrendador: <%= propiedad.arrendador %>
  <br>
  Direccion: <%= propiedad.direccion %>
</div>
<div class="desc">Descripción: <%= propiedad.descripcion %></div>